/* Umumiy sozlamalar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #1a1a1a;
  color: black;
}

/* HEADER */
.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 15px 0;
  font-weight: bold;
}

/* SECTION */
.section {
  background-color: white;
  text-align: center;
  padding: 30px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

/* Qizil kvadratlar joylashuvi */
.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 15px 0;
  font-weight: bold;
}